@charset "UTF-8";
@font-face {
  font-family: "Poppins-Medium";
  src: url(./font/Poppins-Medium.ttf);
}
body {
  font-family: "Poppins-Medium";
}

.alert-primary-header {
  color: #ffffff;
  background-color: #51a6ff;
  border-color: #b1d6ff;
}

.flaticon2-gear:before {
  content: "";
}

.modal-footer {
  border: none;
}

.card-body {
  /* padding-bottom: 0%; */
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

.table {
  margin-bottom: 0%;
}

.padding-1 {
  padding-bottom: 10px;
}

.pd {
  padding-left: 60px;
  padding-right: 60px;
}

.hs {
  margin-left: 8rem;
  margin-bottom: 3rem;
}

/* .padding-0{
  padding-right: 0;
  width: 20rem;
} */
.bt {
  padding-left: 130px;
  padding-right: 130px;
}

.bgg {
  margin-bottom: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: linear-gradient(45deg, #8a41b1, transparent);
}

.mrt {
  margin-left: 350px;
  margin-top: 110px;
}

.box-i {
  width: 300px;
  height: 30px;
}

.box-o {
  height: 30px;
  width: 100px;
}

.h {
  height: 17px;
  width: 17px;
}

.form-check-input {
  margin-top: 0.5rem;
}

.box-h {
  height: 30px;
}

.badge-size {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 22px;
  width: 22px;
}

body {
  font-family: Poppins-Medium;
}

.size {
  font-size: 0.7rem;
}

.size-1 {
  font-size: 0.9rem;
}

.card {
  border: none;
}

h7, .h7 {
  font-size: 0.5rem;
}

.t {
  font-size: 0.7rem;
}

.mrgt {
  margin-top: 25rem;
}

.sidebar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(102vh - 1rem);
}

.sidebar-t {
  position: sticky;
  margin-top: 1.5rem;
  z-index: 1000;
  height: calc(103vh - 4rem);
  border-radius: 40px;
  width: 150px;
  margin-left: 2rem;
}

.sidebar {
  -ms-flex: 0 1 320px;
  -webkit-box-flex: 0;
          flex: 0 1 320px;
}

.border-l {
  border-left: 4px solid #0051ff;
}

.border-b {
  border-bottom: 4px solid #0051ff;
}

.pt {
  padding-top: 0;
  padding-bottom: 0;
}

.search-box-1 {
  background: #ffffff;
  height: 45px;
  width: 300px;
  border-radius: 40px;
}

.dropdown-1 {
  background: #b5c2fa;
  height: 40px;
  border-radius: 40px;
}

.btn-1 {
  height: 30px;
  border-radius: 40px;
  text-align: center;
  line-height: 1;
}

.table th, .table td-1 {
  padding: 0rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

label {
  font-size: 0.7rem;
  margin-bottom: 0px;
}

small {
  font-size: 60%;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.bd-toc-link-1 {
  display: block;
  padding: 0.25rem 1.5rem;
  /* font-weight: 600; */
  color: rgba(0, 0, 0, 0.65);
}

.btn__main {
  height: 4em;
}

.alert-grey {
  color: #5a6268;
}

.masthead {
  --masthead-logo-width: 8.125em;
  --masthead-logo-height: 2.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.masthead-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: full;
  padding: 0.5em 1.5em;
  background: var(-theme-masthead-navigation-background);
}

.announcement-bar-content {
  --color-accent: var(--color-teal-dark);
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: full;
  background: var(--announcement-bar-background);
  text-align: left;
  position: relative;
  color: var(--announcement-bar-text);
  font-weight: 500;
  font-size: 0.9375em;
  padding: 0;
}

.compat-grid, .grid, .pancake {
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [standard-start] 0 [narrow-start] minmax(1rem, 67.5rem) [narrow-end] 0 [standard-end] minmax(2rem, 1fr) [full-end];
  position: relative;
  padding: 0;
}

.active__email {
  border: solid 2px #96ff77;
}

.active__text:hover {
  border: solid 2px #000;
}

.active__email:focus {
  border-color: #800085 !important;
}

.navbar__bg {
  background-color: #7952b3;
}/*# sourceMappingURL=style.css.map */